.transition, form button, form .question label, form .question input[type="text"], form .message label, form .message textarea[type="text"] {
    -moz-transition: all 0.5s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -o-transition: all 0.5s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -webkit-transition: all 0.5s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transition: all 0.5s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  }
  
  * {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
  }
  
  html {
    height: 100%;
    background-color: #5DBCD2;
  }
  
  form {
    position: relative;
    display: inline-block;
    max-width: 700px;
    min-width: 500px;
    box-sizing: border-box;
    padding: 20px 15px;
    background-color: white;
    left: 50%;
    border-radius: 10px;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  form h1 {
    color: #5DBCD2;
    font-weight: 100;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  /*input styles*/
  form .question {
    position: relative;
    padding: 10px 0;
  }
  form .question:first-of-type {
    padding-top: 0;
  }
  form .question:last-of-type {
    padding-bottom: 0;
  }
  form .question label {
    transform-origin: left center;
    color: #5DBCD2;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 5px;
    display: block;
    position: absolute;
    border-radius: 10px;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
  }
  form .question input[type="text"], input[type="number"] {
    appearance: none;
    background-color: none;
    border: 1px solid #5DBCD2;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    color: #5DBCD2;
    font-weight: 300;
    letter-spacing: 0.01em;
    border-radius: 10px;
    position: relative;
    z-index: 1;
  }
  
  form .question input[type="text"]:focus , input[type="number"]:focus {
    outline: none;
    background: #5DBCD2;
    color: white;
    margin-top: 30px;
  }
  form .question input[type="text"]:valid, input[type="number"]:valid {
    margin-top: 30px;
  }
  form .question input[type="text"]:focus ~ label , input[type="number"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
  }
  form .question input[type="text"]:valid ~ label, input[type="number"]:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
  }
  
  /*textarea*/
  form .message textarea[type="text"] {
    appearance: none;
    background-color: none;
    border: 1px solid #5DBCD2;
    font-size: 17px;
    width: 100%;
    height: 150px;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    color: #5DBCD2;
    font-weight: 100;
    letter-spacing: 0.01em;
    border-radius: 10px;
    position: relative;
    z-index: 1;
  }
  
  form .message {
    position: relative;
    padding: 10px 0;
  }
  form .message:first-of-type {
    padding-top: 0;
  }
  form .message:last-of-type {
    padding-bottom: 0;
  }
  form .message label {
    transform-origin: left center;
    color: #5DBCD2;
    font-weight: 200;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 5px;
    display: block;
    position: absolute;
    margin-top: -150px;
    z-index: 2;
    pointer-events: none;
  }
  
  form .message textarea[type="text"]:focus {
    outline: none;
    background: #5DBCD2;
    color: white;
    margin-top: 30px;
  }
  form .message textarea[type="text"]:valid {
    margin-top: 30px;
  }
  form .message textarea[type="text"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
  }
  form .message textarea[type="text"]:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
  }
  
  form .form-submit {
     width: 100%;
     align-content: center;
  }
  
  /*button styles*/
  .btn-submit {
    background-color: #5DBCD2;
    font-size: 17px;
    display: block;
    padding: 10px 15px;
    color: white;
    font-weight: 300;
    letter-spacing: 0.01em;
    text-align: center;
    border-radius: 10px;
    transition: .5s;
  }
  
  .btn-submit:hover {
    background-color: #5DBCD2;
    color:white;
    letter-spacing: 0.5em;
    transition: .5s;
  }
  
  .footer {
    margin-top: 10px;
    color: white;
    text-align: center;
    padding: 10px;
    background: #5DBCD2;
    margin-bottom:0;
  }
  
  /*MOBILE RESPONSIVE*/
  @media screen and (max-width: 600px) {
  
  form {
    max-width: 400px;
    min-width: 300px;
  
  }
  
  form h1 {
    font-size: 1.6rem;
  }
  }